body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-kite-one: "Kite One";
  --font-luckiest-guy: "Luckiest Guy";
  --font-magra: Magra;

  /* font sizes */
  --font-size-11xl: 30px;
  --font-size-45xl: 64px;

  /* Colors */
  --color-white: #fff;
}
